{% extends "base.html" %}

{% block navplot %}
<div class='reduce'>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'vmeteograms:list' %}">Vertical Meteograms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled " href="#"><s>Surface Meteograms</s></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><s>AROME Maps</s></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><s>Flexpart AROME</s></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><s>FLEXPLART IFS</s></a>
    </li>
  </ul>
</div>
{% endblock navplot %}
