<div class="accordion" id="accordionExample">
  <div class=" card">
    <div class="card-body">
      <dl>
        <dt>Name</dt>
        <dd>&emsp;{{domain.name}}</dd>
        <dt>Boundary Box Coordinates</dt>
        <dd>
          <table style="width:100%">
            <tr>
              <td></td>
              <td>
                <dl>
                  <dt>North</dt>
                  <dd>&emsp;{{domain.north}}&deg;N</dd>
                </dl>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <dl>
                  <dt>West</dt>
                  <dd>&emsp;{{domain.west}}&deg;E</dd>
                </dl>
              </td>
              <td></td>
              <td>
                <dl>
                  <dt>East</dt>
                  <dd>&emsp;{{domain.east}}&deg;E</dd>
                </dl>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <dl>
                  <dt>North</dt>
                  <dd>&emsp;{{domain.south}}&deg;N</dd>
                </dl>
              </td>
              <td></td>
            </tr>
          </table>
          <dl>
            <dt>Altitude</dt>
            <dd>{{domain.altitude}}m</dd>
          </dl>
        </dd>
        <dt>Description</dt>
        <dd>&emsp;{{domain.description|default:"No description yet."}}</dd>
      </dl>
      <div class="form-check">
        {% if domain.is_active %}
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled checked>
        {% else %}
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
        {% endif %}
        <label class="form-check-label" for="defaultCheck2">
          is active
        </label>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne" style="background-color: white;">
      <h2 class="mb-0">
        {% if domain.plots.all %}
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Plots
        </button>
        {% else %}
        <button class="btn collapsed">
          No plot associated yet
        </button>
        {% endif %}
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {% if domain.plots.all %}
        {% for plot in domain.plots.all|dictsort:"name" %}
        &emsp;<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled checked>
        <label class="form-check-label" for="defaultCheck2">
          {{plot.name}}
        </label></br>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br>
{% if request.path == "/domains/~detail/"|add:domain.slug|add:"/" %}
<a class="btn btn-primary" href="{% url 'domains:detail_list' slug=domain.slug %}" role="button">
  back to list
</a>
{% else %}
<a class="btn btn-primary" href="{% url 'domains:detail' slug=domain.slug %}" role="button">
  <i class='bi bi-eye'>zoom</i>
</a>
{% endif %}
{% if perms.domains.delete_domain %}
<a class="btn btn-success" href="{% url 'domains:update' slug=domain.slug %}" role="button">
  <i class="bi bi-pencil">edit</i>
</a>
{% else %}
<a class="btn btn-secondary disabled" href="{% url 'domains:update' slug=domain.slug %}" role="button">
  <i class="bi bi-pencil">edit</i>
</a>
{% endif %}
{% if perms.domains.delete_domain %}
<a class="btn btn-danger" href="{% url 'domains:delete' slug=domain.slug %}" role="button">
  <i class="bi bi-trash">delete</i>
</a>
{% else %}
<a class="btn btn-secondary disabled" href="{% url 'domains:delete' slug=domain.slug %}" role="button">
  <i class="bi bi-trash">delete</i>
</a>
{% endif %}
<!-- hr>
<a class="btn btn-outline-info" href="{% url 'domains:redirect' %}" role="button">
  <i class="bi bi-images"> plots</i>
</a -->
