{% extends 'domains/domain_base.html' %}
{% load leaflet_tags %}
{% load i18n %}

{% block title %}
domain detail
{% endblock title %}

{% block header %}
{% translate "domains: " %}{{domain.name}}
{% endblock header %}

{% block map_leaflet %}
{{ domain_url|json_script:"domain_url" }}
{{ domain_data|json_script:"domain_data" }}
{{ grid_data|json_script:"grid_data" }}
<div id='domain_map_id'>
  {% leaflet_map "bigmap" callback="map_domain_local" %}
</div>
{% endblock map_leaflet %}


{% block column %}
<div>
  {% include "domains/detail.html" %}
</div>


{% endblock column %}
