{% extends 'domains/domain_base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block map_leaflet %}
{{ domain_url|json_script:"domain_url" }}
{{ domain_data|json_script:"domain_data" }}
<div id='domain_map_id'>
  {% leaflet_map "bigmap" callback="map_domain_list" %}
</div>
{% endblock map_leaflet %}

{% block column %}
<div class="row">
  {% if object_list %}
  {% for domain in page_obj %}
  <div class="input-group mb-3">
    <input type="text" placeholder="{{ domain.name }}">
    <div class="input-group-append">
      <a class="btn btn-primary" href="{% url 'domains:detail' slug=domain.slug %}" role="button">
        <i class="bi bi-eye"></i>
      </a>
      {% if perms.domains.change_domain %}
      <a class="btn btn-success" href="{% url 'domains:update' slug=domain.slug %}" role="button">
        <i class="bi bi-pencil"></i>
      </a>
      {% else %}
      <a class="btn btn-secondary disabled" href="{% url 'domains:update' slug=domain.slug %}" role="button">
        <i class="bi bi-pencil"></i>
      </a>
      {% endif %}
      {% if perms.domains.delete_domain %}
      <a class="btn btn-danger" href="{% url 'domains:delete' slug=domain.slug %}" role="button">
        <i class="bi bi-trash"></i>
      </a>
      {% else %}
      <a class="btn btn-secondary disabled" href="{% url 'domains:delete' slug=domain.slug %}" role="button">
        <i class="bi bi-trash"></i>
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <hr>
  {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% else %}
      <a href="#" class="disabled">&laquo; first</a>
      <a href="#" class="disabled">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% else %}
      <a href="#" class="disabled">next</a>
      <a href="#" class="disabled">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
  {% else %}
  <h4> No domain yet.</h4>
  {% endif %}
</div>
<hr>
<div class="row">
  {% if perms.domains.change_domain %}
  <a class="btn btn-primary" href="{% url 'domains:create' %}" role="button">
    {% else %}
    <a class="btn btn-secondary disabled" href="{% url 'domains:create' %}" role="button">
      {% endif %}
      Add Domain
    </a>
</div>
{% endblock column %}
