{% extends 'domains/domain_base.html' %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block header %}
<div class="row">
  <div class="column quarter">
    Domains:
  </div>
  <div class="column quarter">
    {% if perms.domains.change_domain %}
    <a class="btn btn-dark" href="{% url 'domains:disable' %}" role="button">
      <i class="bi bi-stop">disable all</i>
    </a>
    <a class="btn btn-light" href="{% url 'domains:enable' %}" role="button">
      <i class="bi bi-stop-fill">enable all</i>
    </a>
    {% endif %}
  </div>
  <div class="column quarter-right">
    Campaign:
  </div>
  <div class="column quarter">
    {% csrf_token %}
    {% crispy form %}
  </div>
</div>
{% endblock header %}

{% block map_leaflet %}
{{ domain_url|json_script:"domain_url" }}
{{ domain_data|json_script:"domain_data" }}
<div id='domain_map_id'>
  {% leaflet_map "bigmap" callback="map_domain_edit" %}
</div>
{% endblock map_leaflet %}

{% block column %}
<input type="hidden" id='id_slug' name="domain_slug" value={{ object.slug }}>
<!-- input type="hidden" id='id_domain_local' name="domain_name" value={{ object.name }} -->
<div class="row">
  {% if domains %}
  <div class="list-group list-group-flush overflow-auto" style="max-height: 400px; width: 95%" id="list-tab"
    role="tablist">
    {% for domain in domains|dictsort:"slug" %}
    {% if domain.is_active %}
    <a class="list-group-item list-group-item-action" data-bs-toggle="list" id="list-{{ domain.slug }}-list"
      data-bs-toggle="list" href="#list-{{ domain.slug }}" role="tab"
      aria-controls="list-{{ domain.slug }}">{{ domain.name }}</a>
    {% else %}
    <a class="list-group-item list-group-item-action list-group-inactive" data-bs-toggle="list"
      id="list-{{ domain.slug }}-list" data-bs-toggle="list" href="#list-{{ domain.slug }}" role="tab"
      aria-controls="list-{{ domain.slug }}">{{ domain.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <hr>
  {% else %}
  <h4> No domain yet.</h4>
  {% endif %}
</div>
<br>
<div class="row">
  {% if domains %}
  <div class="tab-content" id="nav-tabContent" style="width: 95%">
    {% for domain in domains %}
    <div class="tab-pane fade" id="list-{{ domain.slug }}" role="tabpanel"
      aria-labelledby="list-{{ domain.slug }}-list">
      {% include "domains/detail.html" %}
    </div>
    {% endfor %}
  </div>
  {% endif %}

</div>
{% endblock column %}

{% block second_row %}
{% if perms.domains.change_domain %}
<a class="btn btn-primary" href="{% url 'domains:download' %}" role="button">
  <i class="bi bi-download"> Download config files</i>
</a>
{% endif %}
{% endblock second_row %}
