{% extends "base.html" %}
{% load static %}

{% block nav_profile%}active{% endblock %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
      <p>
        <div class="text-secondary">Name</div>{{ object.name }}
      </p>
      {% endif %}

      {% if object.organisation %}
      <p>
        <div class="text-secondary">Organisation</div>{{ object.organisation }}
      </p>
      {% endif %}

      {% if object.email %}
      <p>
        <div class="text-secondary">E-mail</div>{{ object.email }}
      </p>
      {% endif %}

      {% if object.bio %}
      <p>
        <div class="text-secondary">Bio</div>{{ object.bio|linebreaksbr }}
      </p>
      {% endif %}

    </div>
  </div>

  {% if object == request.user %}
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  {% endif %}

</div>
<hr>
<!-- Permission list -->
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <div class="col-sm-2 text-secondary">Permission</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" disabled checked>
            <label class="form-check-label" for="defaultCheck1">
              can see weathervis plots
            </label>
          </div>
          <div class="form-check">
            {% if perms.users.change_user %}
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            {% endif %}
            <label class="form-check-label" for="defaultCheck2">
              can add weathervis station
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if object == request.user %}
  <!-- Action buttons -->
  <p>
    <div class="row">
      <div class="col-sm-12">
        <!-- Your Stuff: Custom user template urls -->
        {% if perms.stations.add_station %}
        <a class="btn btn-secondary" href="#" role="button" aria-disabled="true">Request Upgrade</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'users:upgrade_request' %}" role="button">Request Upgrade</a>
        {% endif %}
      </div>
    </div>
  </p>
  <!-- End Action buttons -->
  {% endif %}
  <!-- End Permission list -->
  {% endblock content %}
