{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}Organisations{% endblock %}

{% block content %}
<h1>{% translate "Organisations:" %}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      {% for organisation in organisations %}
      <div class="input-group mb-3">
        <input type="text" placeholder="{{ organisation.name }}">
        <div class="input-group-append">
          <a class="btn btn-danger" href="{% url 'organisations:delete' pk=organisation.id %}" role="button">
            <i class="bi bi-trash"></i>
          </a>
        </div>
      </div>
      {% empty %}
      No organisation yet.
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% else %}
          <a href="#" class="disabled">&laquo; first</a>
          <a href="#" class="disabled">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% else %}
          <a href="#" class="disabled">next</a>
          <a href="#" class="disabled">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      {% csrf_token %}
      {% crispy form %}
    </div>
  </div>
</div>
{% endblock content %}
