{% extends 'plots/domains/base.html' %}
{% load static %}
{% load i18n %}

{% block container %}
<h1>{% translate "Available Plots and settings for Domains:" %}</h1>
<div class="row">
  <div class="col-sm">
    {% for plot in domains_plots %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ plot.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ plot.description }}</h6>
        <dl>
          <dt>Command</dt>
          <dd>&emsp;{{ plot.command }}</dd>
          <dt>Options</dt>
          <dd>&emsp;{{ plot.options }}</dd>
        </dl>
        <!-- p class="card-text">{{ plot.description }}</p-->
        {% if perms.plots.change_domainsplot %}
        <a class="btn btn-success" href="{% url 'plots:domains_update' pk=plot.id %}" role="button">
          <i class="bi bi-pencil"></i>
        </a>
        {% else %}
        <a class="btn btn-secondary disabled" href="{% url 'plots:domains_delete' pk=plot.id %}" role="button">
          <i class="bi bi-pencil"></i>
        </a>
        {% endif %}
        {% if perms.plots.delete_domainsplot %}
        <a class="btn btn-danger" href="{% url 'plots:domains_delete' pk=plot.id %}" role="button">
          <i class="bi bi-trash"></i>
        </a>
        {% else %}
        <a class="btn btn-secondary disabled" href="{% url 'plots:domains_delete' pk=plot.id %}" role="button">
          <i class="bi bi-trash"></i>
        </a>
        {% endif %}
        <hr>
        {% if plot.domains.all %}
        <h5>Domains using this plot:</h5>
        <ul>
          {% for domain in plot.domains.all %}
          <li>{{ domain.name }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <h5>No Domain is using this plot yet</h5>
        {% endif %}
      </div>
    </div>
    <br>
    {% empty %}
    No plot yet.
    {% endfor %}
  </div>
</div>

<hr>
<div class="row">
  {% if perms.plots.change_domainsplot %}
  <a class="btn btn-primary" href="{% url 'plots:domains_create' %}" role="button">
    {% else %}
    <a class="btn btn-secondary disabled" href="{% url 'plots:domains_create' %}" role="button">
      {% endif %}
      Add Plot
    </a>
</div>
{% endblock container %}
