{% extends 'pages/plots.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block nav_vmeteograms%}active{% endblock %}

{% block title %}
AROME Arctic Vertical Meteogram forecasts for ISLAS2021-2022
{% endblock title %}

{% block extra_css %}
{% endblock %}
{% block extra_javascript %}
<script defer src="{% static 'js/meteograms/navigation.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  {% block container %}
  {% endblock container %}
</div>
{% endblock content %}
