{% extends 'vmeteograms/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="row">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="mb-1">
      {% csrf_token %}
      {% crispy form %}
    </div>
  </nav>
  <!-- div class="col-sm">
  </div -->
</div>
<div class="row">
  <div class="card-group">
    <div class="card">
      <!--div class="card-header">Header</div-->
      <img class="card-img-top" height="600px" id="panel1" src="{% get_media_prefix %}/pics/default.svg" alt="default">
      <div class="card-body">
        <h5 class="card-title" id="title1">{{vmeteogram.location}} {{vmeteogram.date.date|date:'Y-m-d H:i'}}</h5>
        <p class="card-text" id="subtext1">{{vmeteogram.subtext}}</p>
        {% if perms.vmeteograms.change_vmeteogram %}
        <a class="btn btn-success btn-sm" id="chg_subtext1" href="{% url 'vmeteograms:update' slug='dummy' %}"
          role="button">
          <i class="bi bi-pencil"></i>
        </a>
        {% endif %}
      </div>
      <div class="card-footer"><small class="text-muted" id="path1"></small></div>
    </div>
    <div class="card">
      <!--div class="card-header">Header</div-->
      <img class="card-img-top" height="600px" id="panel2" src="{% get_media_prefix %}/pics/default.svg" alt="default">
      <div class="card-body">
        <h5 class="card-title" id="title2">{{vmeteogram.location}} {{vmeteogram.date.date|date:'Y-m-d H:i'}}</h5>
        <p class="card-text" id="subtext2">{{vmeteogram.subtext}}</p>
        {% if perms.vmeteograms.change_vmeteogram %}
        <a class="btn btn-success btn-sm" id="chg_subtext2" href="{% url 'vmeteograms:update' slug='dummy' %}"
          role="button">
          <i class="bi bi-pencil"></i>
        </a>
        {% endif %}
      </div>
      <div class="card-footer"><small class="text-muted" id="path2"></small></div>
    </div>
  </div>
</div>
<!--
<br>
<div class="row">
  <a class="btn btn-primary" href="{% url 'vmeteograms:list' %}" role="button">
    back to list
  </a>
</div>
-->
{% endblock content %}
