{% extends 'stations/station_base.html' %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load i18n %}

{% block title %}
Station update
{% endblock title %}

{% block header %}
{% translate "Update" %} Station: {{station.name}}
{% endblock header %}

{% block map_leaflet %}
{{ station_url|json_script:"station_url" }}
{{ station_data|json_script:"station_data" }}
{{ grid_data|json_script:"grid_data" }}
<div id='station_map_id'>
  {% leaflet_map "bigmap" callback="map_station_local" %}
</div>
{% endblock map_leaflet %}

{% block column %}
{% csrf_token %}
{% crispy form %}
{% endblock column %}
