{% extends 'stations/station_base.html' %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load i18n %}

{% block title %}
Station create
{% endblock title %}

{% block header %}
{% translate "Create" %} Station:
{% endblock header %}

{% block map_leaflet %}
{{ station_url|json_script:"station_url" }}
{{ station_data|json_script:"station_data" }}
{{ grid_data|json_script:"grid_data" }}
<div id='station_map_id'>
  {% leaflet_map "bigmap" callback="map_station_edit" %}
</div>
{% endblock map_leaflet %}

{% block column %}
{% csrf_token %}
{% crispy form %}
<!--
<div class="col">
    <a class="btn btn-primary" href="{% url 'stations:list' %}" role="button">
        back to list
    </a>
</div>
-->
{% endblock column %}
