{% extends "stations/station_base.html" %}
{% load leaflet_tags %}
{% load i18n %}

{% block title %}
Station
{% endblock title %}

{% block header %}
{% translate "Delete" %} Station: {{ object }}
{% endblock header %}

{% block map_leaflet %}
{{ station_url|json_script:"station_url" }}
{{ station_data|json_script:"station_data" }}
{{ grid_data|json_script:"grid_data" }}
<div id='station_map_id'>
  {% leaflet_map "bigmap" callback="map_station_local" %}
</div>
{% endblock map_leaflet %}

{% block column %}
<form method="post">{% csrf_token %}
  <h3>Are you sure you want to delete Station "{{ object }}"?</h3>
  <input type="submit" class="btn btn-danger" value="Confirm">
  <a class="btn btn-primary" href="{% url 'stations:redirect' %}" role="button">Cancel</a>
</form>
{% endblock column %}
